<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <ng-container *ngIf="bookMetadata$ | async as metadata">
      <h3 class="book-title">{{ metadata.title }}</h3>
      <h5 class="book-author">{{ metadata.author }}</h5>
    </ng-container>
    <ng-container *ngIf="chapters$ | async as chapters">
      <rd-sidenav-list  
              class="chapters" 
              [items]="chapters" 
              [marked]="chapter$ | async" 
              (itemClicked)="goToChapter($event)">
      </rd-sidenav-list>
    </ng-container>
  </mat-drawer>
  
  <div class="content">
    <button
            mat-mini-fab
            id="sidenavToggle"  
            aria-label="Toggle navigation menu" 
            title="Expand navigation panel" 
            [class.opened]="drawer.opened" 
            (click)="drawer.toggle()">
      <mat-icon *ngIf="drawer.opened">chevron_left</mat-icon>
      <mat-icon *ngIf="!drawer.opened">chevron_right</mat-icon>
    </button>
    
    <header class="book-controls-container">
      <rd-book-controls
              (increaseFontSize)="increaseFontSize()"
              (decreaseFontSize)="decreaseFontSize()">
      </rd-book-controls>
    </header>
    
    <div #bookContainer class="book-container" rdResizeObservable (dimensions)="resizeBook($event)">
      <div class="page-button-container" style="flex: 0 0 {{ pageButtonWidth }}px; text-align: center">
        <button mat-fab aria-label="Previous page" title="Previous page" (click)="previousPage()">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </div>
      
      <div [id]="bookPlaceElementID"></div>

      <div class="page-button-container" style="flex: 0 0 {{ pageButtonWidth }}px; text-align: center">
        <button  mat-fab aria-label="Next page" title="Next page" (click)="nextPage()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-drawer-container>
