@import "../../../../styles/color-variables";

.list-container {
  padding: 0 0.5rem;
  
  .item {
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid $border-gray;
    }

    .default-item {
      padding: 0.2rem 0.8rem;
      width: 16rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        background-color: $background-primary;
      }
      
      .bookmark {
        height: 1rem;
        width: 1rem;
      }
    }
    
    .sub-item {
      padding-left: 1.2rem;
      width: 15.6rem;
    }
  }
}