$primary: #A7727D;
$secondary: #EDDBC7;
$warn: #ba1b1b;

$background-light-theme: #fafafa;
$background-primary: #F9F5E7;
$background-light-gray: #eee;
$background-gray: #999;
$background-dark-theme: #303030;

$shadow-light-gray: #ccc;
$shadow-dark-gray: #333;

$border-gray: #afafaf;

$typography: #1f1f1f;
$typography-light: white;