<div class="home-container">
  <div class="file-upload-area" rdDnd (filesDropped)="onFilesDropped($event)">
    <img src="assets/icons/upload.svg" alt="upload icon" class="upload-icon" (click)="fileUpload.click()">

    <p><span class="choose-file-btn" (click)="fileUpload.click()">Choose a file</span> or drop it here</p>
    <p>Allowed formats: {{ allowedTypesNames }}</p>

    <input type="file" class="file-input"
           [accept]="allowedTypesString"
           (change)="onFileSelected()" #fileUpload>
  </div>
  
  <div class="samples">
    <div class="sample" *ngFor="let sample of samples">
      <div class="cover-container" (click)="openSample(sample.source)">
        <img src="assets/icons/book.svg" alt="book cover" class="cover">
      </div>
      <h5 class="sample-name" (click)="openSample(sample.source)">{{ sample.name }}</h5>
    </div>
  </div>
</div>
